:root {
  --sidebar-bg: #2a5c82;
  --sidebar-active: #212936;
  --accent-blue: #3498db;
  --text-light: #ffffff;
  --text-dark: #333333;
  --border-color: #e1e1e1;
  --header-height: 70px;
  --sidebar-width: 250px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
}

.app-container{
  display: flex;
  min-width: 100vh;
}

/* Header estilos*/

.main-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main-container.menu-open {
  margin-left: var(--sidebar-width);
}

.header {
  height: var(--header-height);
  background-color: #ffffff;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.header-left {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.home-header-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.logo-header {
  width: 30px;
  height: 30px;
}

.logo-text-header {
  width: 68px;
  height: 68px;
  margin-left: 0.5rem;

}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  padding: 0 1rem;
  margin-left: 1rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-dark);
  margin: 2px 0;
  border-radius: 3px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  border-radius: 20px;
  padding: 0.5rem;
  height: 2.5rem;
}

.search-input {
  border: none;
  background: transparent;
  padding: 0.5rem;
  outline: none;
  width: 250px;
}

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  width: 35px;
  padding: 0;
}

.search-icon {
  font-size: 1.2rem;
  color: #000;
}
.search-button:hover {
  background-color: #CAD7E0;
}

.user-container {
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
}

.notification-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-right: 0.5px solid var(--border-color);
  box-shadow: 4px 0.5px 3px rgba(0, 0, 0, 0.09);
}

.notification-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin-right: 2.5rem;
}

.notification-icon {
  font-size: 1.6rem;
  color: black;
  margin: 0;
  padding: 0;

}

.notification-button:hover {
  background-color: #CAD7E0;
}


.user-profile {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap:  2.5rem;
}

.user-name {
  font-weight: 2000;
  color: var(--text-dark);
  padding: 10px;
  margin: 0;

}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #CAD7E0;
}