:root {
  --sidebar-bg: #2a5c82;
  --sidebar-active: #212936;
  --accent-blue: #3498db;
  --text-light: #ffffff;
  --text-dark: #333333;
  --border-color: #e1e1e1;
  --header-height: 70px;
  --sidebar-width: 250px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
}

.app-container{
  display: flex;
  min-width: 100vh;
}

/* sidebar estilos */
.sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg);
  color: var(--text-light);
  box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.15);
  transition: left 0.3s ease;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  z-index: 100;
}

.sidebar.hidden{
  left: -280px;
  transition: left 0.3s ease;
}
.sidebar.active {
  left: 0;
}

.sidebar-button-container {
  display: flex;
  margin-bottom: 1rem ;
}

.sidebar-button {
  background: transparent;
  justify-content: center;
  border: none;
  display: flex;
  cursor: pointer;
  margin-left:  12.3rem;
  border-radius: 30px;
  align-items: center;
  padding: 0;
  width: 47px;
  height: 47px;

}

.sidebar-icon-back{
  font-size: 2.3rem;
  color: rgb(51, 51, 51);
  padding: 0;
  margin: 0;
}

.sidebar-button:hover {
  background-color: #95aec1;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05);
  color: #CAD7E0;
}


 
.sidebar-logo {
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  
}

.sidebar-logo img {
  width: 80%;
  height: auto;
  
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  border-top: 0.2px solid var(--border-color);
  
}

/* Sub Menu */

.sidebar-item-with-submenu{
  display: flex;
  flex-direction: column;
}

.submenu-trigger {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin: 0;
  transition: all 0.2s ease;
  border-bottom: 0.2px solid var(--border-color);
  cursor: pointer;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.submenu-trigger:hover {
  background-color: var(--sidebar-active);
  border-left: 3px solid var(--border-color);
  box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.05);
  color: #F2F5F8;
}

.submenu-icon {
  margin-left: auto;
  font-size: 1.2rem;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #95aec1;
}

.submenu.open {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.submenu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 3rem;
  color: rgb(51, 51, 51);
  text-decoration: none;
  transition: all 0.2s ease;
}

.submenu-item:hover,
.submenu-item:active {
  background-color: var(--sidebar-active);
  color: #F2F5F8;
}

/* Menu */

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #ffffff;
  text-decoration: none;
  margin: 0.25rem 0;
  transition: all 0.2s ease;
  border-color: #333333;
  border-bottom: 0.2px solid var(--border-color);
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-item i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar-item:hover,
.sidebar-item.active {
  background-color: var(--sidebar-active);
  border-left: 3px solid var(--border-color);
  box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.05);
  color: #F2F5F8;

}

.sidebar-icon{
  width: 23px;
  height: 23px;
  margin-left: 10px;
  margin-bottom: 0.1rem;
  margin-right: 20px;
}

/* Header estilos*/

.main-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.header {
  height: var(--header-height);
  background-color: #ffffff;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  padding: 0 1rem;
  margin-left: 1rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-dark);
  margin: 2px 0;
  border-radius: 3px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  border-radius: 20px;
  padding: 0.5rem;
  height: 2.5rem;
}

.search-input {
  border: none;
  background: transparent;
  padding: 0.5rem;
  outline: none;
  width: 250px;
}

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  width: 35px;
  padding: 0;
}

.search-icon {
  font-size: 1.2rem;
  color: #000;
}
.search-button:hover {
  background-color: #CAD7E0;
}

.user-container {
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
}

.notification-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-right: 0.5px solid var(--border-color);
  box-shadow: 4px 0.5px 3px rgba(0, 0, 0, 0.09);
}

.notification-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin-right: 2.5rem;
}

.notification-icon {
  font-size: 1.6rem;
  color: black;
  margin: 0;
  padding: 0;

}

.notification-button:hover {
  background-color: #CAD7E0;
}


.user-profile {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap:  2.5rem;
}

.user-name {
  font-weight: 2000;
  color: var(--text-dark);
  padding: 10px;
  margin: 0;

}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #CAD7E0;
}